<div>
    <img src="/assets/svg/logo.svg.png" alt="Logo da empresa - Um floco de neve com a escrita GOD no centro">
    <h1>{{ isEditMode ? 'Editar Usuário' : 'Cadastrar Usuário' }}</h1>
    <form>
        <label>
            Nome:
            <input type="text" [(ngModel)]="user.nome" name="nome" required />
        </label>
        <label>
            Sobrenome:
            <input type="text" [(ngModel)]="user.sobrenome" name="sobrenome" required />
        </label>
        <label>
            Data de Nascimento:
            <input type="date" [(ngModel)]="user.dataNascimento" name="dataNascimento" required />
        </label>
        <button type="button1" (click)="saveUser()">Salvar</button>
        <button type="button" (click)="cancel()">Cancelar</button>
    </form>
</div>